<%- include("partials/header") -%>

<table class="container">
    <thead>
        <tr>
            
            
          
            <th><h1>Adı</h1></th>
            <th><h1>Sıcaklığı</h1></th>
            <th><h1>Yaşı</h1></th>
            <th><h1>Geliş tarihi - saati</h1></th>
            <th><h1>Giriş yapan kullanıcı</h1></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><% datas.forEach(function(data) { %>
                <%= data.adi %>
                <%  }) %></td>
            <td><% datas.forEach(function(data) { %>
                <%= data.sic %>
                <%  }) %></td>
            <td><% datas.forEach(function(data) { %>
                <%= data.yas%>
                <%  }) %></td>
            <td><% datas.forEach(function(data) { %>
                <%= data.gel %>
                <%  }) %></td>
                <td><% posts.forEach(function(post) { %>
                    <%= post.user %>
                    <%  }) %></td>
        </tr>
        
        <tr>
            <td>Twitter</td>
            <td>7326</td>
            <td>10437</td>
            <td>00:51:22</td>
        </tr>
        <tr>
            <td>Amazon</td>
            <td>4162</td>
            <td>5327</td>
            <td>00:24:34</td>
        </tr>
        <tr>
            <td>LinkedIn</td>
            <td>3654</td>
            <td>2961</td>
            <td>00:12:10</td>
        </tr>
    <tr>
            <td>CodePen</td>
            <td>2002</td>
            <td>4135</td>
            <td>00:46:19</td>
        </tr>
    <tr>
            <td>GitHub</td>
            <td>4623</td>
            <td>3486</td>
            <td>00:31:52</td>
        </tr>
    </tbody>
    
</table>
<%- include("partials/footer") -%>